/*1439px-769 */

@media (max-width: 1300px) {

    /* header */

    .index-header {
        padding-inline: 64px;
    }

    /* section1 */
    .section1 {
        height: 560px;
    }

    /* section 2 */
    .section2 {
        padding: 64px;

    }

    .article-section {
        overflow-x: scroll;
    }
}

/* 
@media(max-width:1030px) {

    .index-footer {
        justify-content: center;
        column-gap: 40px;

    }
} */